<!-- #BeginLibraryItem "/Library/footer.lbi" -->
<footer>
  <div class="footer-content">
    <div class="container">
      <div class="footer-logo"> <a href="../Library/index.html">The Mad Maleficarum LLC.</a> </div>
      <ul class="footer-links">
        <li><a href="../Library/index.html">Home</a></li>
        <li><a href="../Library/pages/about.html">About</a></li>
        <li><a href="../Library/pages/contact.html">Contact</a></li>
        <!-- Add more links as needed -->
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>&copy; 2023 The Mad Maleficarum LLC. All rights reserved.</p>
    </div>
  </div>
</footer>
<!-- #EndLibraryItem -->