<!-- #BeginLibraryItem "/library/header.lbi" -->
<header>
  <!-- Navigation Bar -->
  <nav class="navbar">
    <div class="container"> <a href="../library/index.html" class="logo">The Mad Maleficarum LLC.</a>
      <!-- Can Insert Image -->
      <ul class="nav-links">
        <li><a href="../library/index.html">Home</a></li>
        <li><a href="../library/pages/about.html">About</a></li>
        <!-- Move To Footer -->
        <li><a href="../library/pages/contact.html">Contact</a></li>
        <!-- Move To Footer -->
        <!-- Include "Legal" In Footer -->
        <li><a href="../library/pages/cart.html">Cart</a></li>
        <!-- Include "Checkout" In Cart Dropdown -->
        <li><a href="../library/pages/account.html">Account</a></li>
        <li class="dropdown"> <a href="#" class="dropdown-btn">Categories</a>
          <div class="dropdown-content"> <a href="#">Ceramic Mugs</a> <a href="#">Travel Mugs</a> <a href="#">Apparel</a> <a href="#">Home Decor</a> <a href="#">Spell Supplies</a> </div>
        </li>
        <!-- Add more links as needed -->
      </ul>
    </div>
  </nav>
</header>
<!-- #EndLibraryItem -->